<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Cucumber-JVM Html Reports - Tag Overview</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/skin/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/960.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/text.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/table.css" type="text/css" media="screen"/>
    <link href='css/button.css' rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.tipsy.js"></script>
    <link rel="stylesheet" href="css/tipsy.css" type="text/css" media="screen"/>
    <script type="text/javascript" src="js/d3.v2.min.js"></script>
    <script src='js/stack.js' type='text/javascript'></script>
    <style>
        table.stats-table th {
            color: black;
            border-width: 1px;
            padding: 5px;
            border-style: inset;
            border-color: gray;
            background-color: #66CCEE;
            -moz-border-radius:;
        }

        table.stats-table td {
            color: black;
            text-align: center;
            border-width: 1px;
            padding: 5px;
            border-style: inset;
            border-color: gray;
            background-color: white;
            -moz-border-radius:;
        }
    </style>
    <link rel="icon" href="favicon.ico"/>
    <script src="js/piecon.min.js"></script>
    <script>
        (function () {
            var percent = ($total_scenario_passes / $total_scenarios)*100;
            percent = percent.toFixed(1);

            Piecon.setOptions({
                color:'green', // Pie chart color
                background:'red', // Empty pie chart color
                shadow:'#fff', // Outer ring color
                fallback:'force'});
            Piecon.setProgress(percent);
        })();
    </script>

</head>
<body id="top">
<div id="fullwidth_header">
    <div class="container_12">
        <h1 class="grid_4 logo"><a href="project-overview.html" class='ie6fix'>Cucumber</a></h1>

        <div class="grid_6" id="nav">
            <ul>
                #if ($fromJenkins)
                    #if ($build_number)
                        <li><a href="${jenkins_base}job/$build_project/$build_number">Back To Jenkins</a></li>
                    #end
                #end
                <li><a href="project-overview.html">Project Overview</a></li>
                <li><a href="$project.getProjectFeatureUri()">Feature Overview</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="fullwidth_gradient" class="pageHeader">
    <div class="pageHeaderText">
        <h2>Tag Overview for $project.getName()#if ($build_number) in Build: $build_number#end</h2>
    </div>
</div>
    #if($tags.isEmpty())
    <div><p>You have no tags in your cucumber features</p></div>
    #else
    <div class="transitionButtons">
        <button class='first' id='group'
                onclick='if (!($("#group").hasClass("first active"))) {$("#group").attr("class", "first active"); $("#stack").attr("class", "last"); scenarioTagChart.transitionGroup();}'>
            Group
        </button>
        <button class='last active' id='stack'
                onclick='if (!($("#stack").hasClass("last active"))) {$("#group").attr("class", "first"); $("#stack").attr("class", "last active");  scenarioTagChart.transitionStack();}'>
            Stack
        </button>
    </div>
    <div class="tagCharts">
        <div id="tagsOverviewScenariosChart" class="tagOverviewChart">
            <h3>Scenario Overview</h3>
            <div id='chart'>
                <script>
                    $(document).ready(function () {
                        scenarioTagChart.createBarChart('chart', $('#tagsOverviewScenariosChart'),
                            $chart_scenario_data, 2, $numberOfTags, ["#0AC92B", "#B22222"], ["Passed", "Failed"])
                    })
                </script>
            </div>
        </div>
    </div>
    <p></p>

    <div style="height:20px"></div>
    <div class="statsTable">
        <h2>Tag Statistics</h2>
        <table id="breakdownTable" class="bordered">
            <tr>
                <th>Tag</th>
                <th>Scenarios</th>
                <th>Steps</th>
                <th>Passed Scenarios</th>
                <th>Failed Scenarios</th>
                <th>Passed Steps</th>
                <th>Failed Steps</th>
                <th>Skipped Steps</th>
                <th>Pending Steps</th>
                <th>Duration</th>
                <th>Status</th>
            </tr>

            #foreach($tag in $tags)

                #if($tag.getStatus().toString() == "PASSED")
                    #set($bgcolour = "#C5D88A")
                #else
                    #set($bgcolour = "#D88A8A")
                #end

                <tr onclick="window.location = '${project.getName()}-${tag.getFileName()}'">
                    <td style="text-align:left;"><a
                            href="${project.getName()}-${tag.getFileName()}">${tag.getTagName()}</a></td>
                    <td>$tag.getNumberOfScenarios()</td>
                    <td>$tag.getNumberOfSteps()</td>
                    <td>$tag.getNumberOfScenariosPassed()</td>
                    <td>$tag.getNumberOfScenariosFailed()</td>
                    <td>$tag.getNumberOfStepsPassed()</td>
                    <td>$tag.getNumberOfStepsFailed()</td>
                    <td>$tag.getNumberOfStepsSkipped()</td>
                    <td>$tag.getNumberOfStepsPending()</td>
                    <td>$tag.getFormattedDuration()</td>
                    #if($tag.getStatus().toString() == "PASSED")
                        <td style="background-color: $bgcolour;">Passed</td>
                    #else
                        <td style="background-color: $bgcolour;">($tag.getNumberOfScenariosFailed()/$tag.getNumberOfScenarios())<br/>Failed</td>
                    #end
                </tr>
            #end

            <tr>
                <td style="background-color:lightgray;font-weight:bold; text-align: center;">$numberOfTags</td>
                <td style="background-color:lightgray;font-weight:bold;">$total_scenarios</td>
                <td style="background-color:lightgray;font-weight:bold;">$total_steps</td>
                <td style="background-color:lightgray;font-weight:bold;">$total_scenario_passes</td>
                <td style="background-color:lightgray;font-weight:bold;">$total_scenario_fails</td>
                <td style="background-color:lightgray;font-weight:bold;">$total_passes</td>
                <td style="background-color:lightgray;font-weight:bold;">$total_fails</td>
                <td style="background-color:lightgray;font-weight:bold;">$total_skipped</td>
                <td style="background-color:lightgray;font-weight:bold;">$total_pending</td>
                <td style="background-color:lightgray;font-weight:bold;">$total_duration</td>
                <td style="background-color:lightgray;font-weight:bold;">Totals</td>
            </tr>
        </table>
        <p>

        <div style="float: left;"><a href="logFiles.html">Logs</a></div>
        <div style="float: right;">Created at $time_stamp</div>
        </p>
    </div>
    #end
<div class="clear"></div>
</body>
</html>
